TRIPFORGE_OLLAMA_BASE_URL=
TRIPFORGE_OLLAMA_MODEL=
TRIPFORGE_OLLAMA_EMBED_MODEL=
TRIPFORGE_OPENTRIPMAP_API_KEY=
TRIPFORGE_REQUEST_TIMEOUT_SECONDS=60
TRIPFORGE_MAX_PLACES=12
TRIPFORGE_LANGFUSE_SECRET_KEY=
TRIPFORGE_LANGFUSE_PUBLIC_KEY=
TRIPFORGE_LANGFUSE_BASE_URL=
TRIPFORGE_OPENROUTESERVICE_API_KEY=
